<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.lee.dao.system.RolePermMapper" >
  <resultMap id="BaseResultMap" type="com.yuan.lee.entity.RolePerm" >
    <id column="rolepermid" property="rolepermid" jdbcType="VARCHAR" />
    <result column="permissionsid" property="permissionsid" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rolepermid, permissionsid, roleid, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_roleperm
    where rolepermid = #{rolepermid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_roleperm
    where rolepermid = #{rolepermid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuan.lee.entity.RolePerm" >
    insert into t_roleperm (rolepermid, permissionsid, roleid, 
      state)
    values (#{rolepermid,jdbcType=VARCHAR}, #{permissionsid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuan.lee.entity.RolePerm" >
    insert into t_roleperm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolepermid != null" >
        rolepermid,
      </if>
      <if test="permissionsid != null" >
        permissionsid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolepermid != null" >
        #{rolepermid,jdbcType=VARCHAR},
      </if>
      <if test="permissionsid != null" >
        #{permissionsid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuan.lee.entity.RolePerm" >
    update t_roleperm
    <set >
      <if test="permissionsid != null" >
        permissionsid = #{permissionsid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where rolepermid = #{rolepermid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuan.lee.entity.RolePerm" >
    update t_roleperm
    set permissionsid = #{permissionsid,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where rolepermid = #{rolepermid,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from t_roleperm
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
  </select>
  <select id="findByParams" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from t_roleperm
    <if test="sortName != null" >
      order by ${sortName}
      <if test="sortOrder != null" >
        ${sortOrder}
      </if>
    </if>
    <if test="pageSize != null and startNum != null" >
      limit #{pageSize} offset #{startNum}
    </if>
  </select>
  <select id="findByParamsCount" resultType="int" parameterType="map" >
    select count(*) from t_roleperm
  </select>
</mapper>